.flex-container{
    display: flex;
    background-color: bisque;
    border: solid 5px indigo;
    height: 250px;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.titulo{

    color: darkgreen;
    font-size: 30px;
}