.flex-container{
    display: flex;
    background-color: bisque;
    border: solid 5px indigo;
    height: 250px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-container #titulo{
    color: darkgreen;
    font-size: 30px;
}

.barra-azul{
    display: flex;
    background-color: lightskyblue;
    height: 50px;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    color: darkred;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 20pt;
    color: indigo;
    font-family: sans-serif, arial, helvetica;
}

.livros {
    justify-content: space-around;
}